{% extends 'base.html' %}

{% block title %} UPLOAD {% endblock %}


{% block nav %}
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" enctype="multipart/form-data"> 
            {{ csrf_token }}
            <div class="h1 text-center strong"><strong>IMPORTAR TRANSAÇÕES</strong></div>
            <div class="mb-3">
                <input class="form-control" name="file" type="file" id="formFile">
                <label for="formFile" class="form-label">Selecione o arquivo para realizar o upload</label>
            </div>
            <div><input class="btn btn-primary" type="submit" value="Importar"></div>
        </form>
    </div>
{% endblock %}
